@import url('https://fonts.googleapis.com/css2?family=Jersey+25&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    font-family: 'Playfair Display', serif;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:visited {
    color: black;
}

.navbar {
    background: #FCDFDF ; 
    top: 0;
    margin: 0;
    padding: 0;
    position: fixed;
    overflow: hidden;
    width: 100%;
}

.navbar ul {
    background-color: #FCDFDF;
    list-style: none;
    /* margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0; */
    /* width: 100%; */
}

.navbar ul li {
    display: inline;
    /* padding: 13px; */
    /* text-decoration: none; */
    color: black;
    font-family: 'PlayfairDisplay', serif;
    font-size: 18px;
}

.navbar ul li a {
    color: black;
}

.menu-link {
    position: relative;
    top: -3px;
    margin-left: 5px;
}



/* .navbar ul li a { */
.visitus-link {
    /* text-decoration: none; */
    color: black;
    float: right;
    padding-right: 16px;
    /* padding: 13px; */
    font-size: 18px;
    font-family: 'PlayfairDisplay', serif;
}

.navbar ul li a:hover {
    color: #ec4b4b;
    text-decoration: none;
}

.lucide-menu {
    position: relative;
    top: -1px;
}

.titleName, .pageName {
    background-color: #FCDFDF;
    width: 100%;

}

.titleName p {
    font-family: 'Playfair Display', serif;
    font-size: 8vw;
    padding: 40px 40px;
    padding-left: 10px;
    text-align: center;

}

.logo {
    margin: 8px;
    padding: 40px 40px;
    padding-right: 10px;
    width: 20vw;
}
/* 
.titleName img {
    max-width: 100%;
    max-height: 100%;
    display: block;
} */

.titleName {
    display: flex;
    justify-content: center;
    align-items: center;
}


.pageName p {
    font-family: 'Playfair Display', serif;
    font-size: 60px;
    padding: 40px 40px;
    text-align: center;
}

.ourServices h1 {
    text-align: center;
    font-size: 4vw;
    margin: 25px;
}

.services {
    list-style: none;
    display: flex;
    flex: row;
    justify-content: space-evenly;
    height: 220px;
    padding-bottom: auto;
}

.serviceCard {
    text-align: center;
}

.serviceCard p a{
    text-align: center;
    margin: 15px;
    font-size: 24px;
    font-weight: 250;
    color: #eb8585;
}

.serviceCard p a:hover{
    color: #ec4b4b;
}

.serviceCard div {
    text-align: center;
    font-size: 20px;
    max-height: 120px;
    min-height: 100px;
    overflow: hidden;
    overflow-y: auto;
    overflow-x: scroll;
}

.serviceCard div a {
    color: black;
}

.serviceCard div a:hover {
    color: #ec4b4b;
    text-decoration: none;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    background-color: #FFEEEE;
    /* margin-bottom: 18px; */
}

.footer div{
    padding: 12px;
    text-align: center;
    flex-shrink: 1;
    font-size: 18px;
}

.footer div p {
    font-weight: 550;
    font-size: 20px;
}

.location a,
.socials a {
    color: #ec4b4b;
}

.contactUs {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* height: 220px; */
    /* padding-bottom: auto; */
}

.contactUsCard {
    text-align: left;
    font-size: 20px;
    padding: 15px 0px 15px 25px;
}

.contactUsCard p {
    text-align: left;
    font-size: 20px;
    padding-left: 25px;
}

.aboutlaserprocedures {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.laserHairRemoval , 
.laserTreatments {
    padding: 20px;
    width: 50%;
    background-color: #FCDFDF;
    margin: 20px;
}

.laserHairRemoval h2, 
.laserTreatments h2 {
    text-align: center;
}

.aboutlaserextra {
    padding: 20px;
    margin: 20px;
    text-align: center;
    margin-bottom: 100px;
}

.aboutlaserextra p{
    font-size: 20px;
}

.aboutlaserextra a{
    color: #eb8585;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: #eb8585;
}

/* .sideBar ul li {
    line-height: 160%;
}
.sideBar ul li ul li {
    line-height: 160%;
} */

.X {
    padding-left: 10px;
    padding-top: 3px;
}

.sideBar {
    width: fit-content;
    height: auto;
    background-color: #FCDFDF;
    /* backdrop-filter: blur(5px); */
    overflow: hidden;
    padding: 10px; 

    /* margin-right: 12px; */

    position: relative;
    z-index: 10000;
    border-radius: 5px;
    box-shadow: 3px 3px #f5aeae;
    margin-bottom: -343.5px;
    /* border: solid 1px hotpink; */
}

.sideBar ul,
.sideBar ul a {
    text-decoration: none;
    list-style: none;
    color: black;
    line-height: 200%;
    margin: 3px;
}

.sideBar ul a {
    margin: 0px;
}

.sideBar a:hover {
    color: #ec4b4b;
}

.menu-sidebar {
    text-decoration: none;
    background-color: #FCDFDF;
    padding: 0px;
}

.X,
.menu-sidebar {
    cursor: pointer;
}


.laserPricing {
    display: flex;
    justify-content: center;
    /* padding: 15px; */
    overflow: hidden;
    overflow-y: scroll;
    overflow-x: scroll;
    margin-bottom: 130px;
}

.laserPricing p {
    font-size: 25px;
}

.laserPart,
.singleCost,
.prepayCost {
    padding: 20px;
}

.nailsPage {
    padding: 25px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    overflow: hidden;
    overflow-y: scroll;
    overflow-x: scroll;
    margin-bottom: 180px;
}

.nailsPageInfo {
    background-color: #FCDFDF;
    margin-bottom: 25px;
}

.nailsPage div p {
    line-height: 250%;
}

.carousel {
    /* display: flex;
    flex-wrap: wrap; */
}

.carousel img{
    width: 300px;
    height: auto;
    border: gray dotted 1px;
    margin: 10px;

}

.nailPrice {
    background-color: #FCDFDF;
}

.nailPrice p {
    font-size: 50px;
    margin-top: -5px;
    margin-bottom: -5px;
}

.nailPricing {
    display: flex;
    justify-content: center;
    /* padding: 15px; */
    overflow: hidden;
    overflow-y: scroll;
    overflow-x: scroll;
    margin-bottom: 15px;
}

.nailPricing p {
    font-size: 20px;
}

.nailPart,
.nailCost {
    padding: 10px 20px 20px;
}

.faq {
    overflow: hidden;
    overflow-y: scroll;
    overflow-x: scroll;
    margin-bottom: 15px;
    padding: 15px;
    margin-bottom: 160px;
}

.question {
    font-weight: 700;
}

.answer {
    padding-left: 15px;
    line-height: 190%;
}

.contactUs {
    /* align-items: center; */
    width: 600px;
    margin: 0 auto;
    padding-top: 20px;
}

.contactUs input,
.contactUs textarea{
    border: #f5aeae 1.5px solid;
}

.contactUs p {
    text-align: center;
}

.flname {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.fname, .lname {
    display: flex;
    flex-direction: column;
    width: 50%;
    flex-wrap: wrap;
}

.msg {
    min-height: 60px;
    max-height: 300px;
    resize: vertical;
    
}

.contactUs button {
    background-color: #FCDFDF;
    border: #f5aeae 1.5px solid;
}

.contactus-bottom {
    margin-bottom: 250px;
}

.contactus-bottom p{
    padding: 10px;
    text-align: center;

}


@media only screen and (max-width: 787px) {
    .logo {
        display: none;
    }

    .titleName p{
        padding: 40px 40px;
    }

}

@media only screen and (max-width:730px) {
    .footer {
        flex-wrap: wrap;
    }

    .footer div {
        font-size: 12px;
    }
    
    .footer div p {
        font-size: 14px;
    }

    .services {
        flex-wrap: wrap;
    }


    .serviceCard p a{
        font-size: 18px;
    }


    .serviceCard div{
        font-size: 16px;
    }

    .aboutlaserextra p {
        font-size: 16px;
    }

    .laserHairRemoval h2, 
    .laserTreatments h2 {  
        font-size: 18px; 
    }

    .laserHairRemoval p, 
    .laserTreatments p {
        font-size: 16px;
    }

    .nailPricing p {
        font-size: 15px;
    }

    .contactUs {
        width: 60%;
    }

    .flname {
        flex-direction: column;
    }

    .fname, .lname {
        width: 100%;
    }
}